<!DOCTYPE html>
<html lang="en"
<head>
     <title>Cancel Order</title>
    <link rel="stylesheet" href="style.css">
  
</head>
<body class="container">
    <div class="product"> Forgot to add something to your shopping cart? Shop around still then come back to pay later!
       <img src="C:\Users\Nadia.Nel\OneDrive - Axiomatic Consultants CC\Desktop\Reports\Training - BOD\Systems Development\Project Simulation\E-Commerce Project\Nerds737.github.io\Payment Gateway\cancelled.jpg" alt="success image" class="product_img">
       <h3 style="text-align:center;">Order Cancelled</h3>
    </div>
</body>
</html>