<!DOCTYPE html>
<html lang="en"
<head>
     <title>Transaction Successful</title>
    <link rel="stylesheet" href="style.css">
  
</head>
<body class="container">
    <div class="product">
       <img src="C:\Users\Nadia.Nel\OneDrive - Axiomatic Consultants CC\Desktop\Reports\Training - BOD\Systems Development\Project Simulation\E-Commerce Project\Nerds737.github.io\Payment Gateway\successful transaction.jpg" alt="success image" class="product_img">
<h3 style="text-align:center;">Transaction Successful</h3>
    </div>
</body>
</html>